

.home-container{
    background-image: url("../../png/background.png");
    background-repeat: no-repeat;
    height: 91vh;
    background-size: cover;
    width: 100%;
    color: rgb(40, 40, 40);
    text-align: center;
    padding: 5rem;


}

.home-title{
    font-family: heading-now;
    font-size: 3rem;
}
.home-text{
    font-family: roboto;
    font-size: 1.7rem;
}

.home-nav-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}

.home-nav-container img{
    width: 200px;
}