

.home-container{
    background-image: url("../../png/background.png");
    background-repeat: no-repeat;
    height: 91vh;
    background-size: cover;
    width: 100%;
    color: rgb(40, 40, 40);
    text-align: center;
    padding: 5rem;


}

.home-title{
    font-family: heading-now;
    font-size: 3rem;
    
}
.home-text{
    font-family: roboto;
    font-size: 1.7rem;
}

.home-nav-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 100px;
}

.home-nav-container img{
    min-width: 90px;
    max-height: 220px;
    padding: 20px;
}

.home-nav-container img:hover{
    padding: 0;
    transition-duration: 400ms;
}




@media (max-width: 700px) {
    .home-title{
        font-size: 2rem;
        margin-bottom: 2rem;
        
    }
    .home-text{
        font-size: 1.2rem;
    }

    .home-container{
        padding: 3rem 1rem;
    }

    .home-nav-container img{
        min-width: 90px;
        max-height: 220px;
        padding: 5px;
    }
    
}