
.memo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  
  
  
  
  
  
  
  
  .memo {
    border: 1px solid black;
  
  }