.book-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-preview h4{
    text-transform: capitalize;
    color: black;
}

.book-preview img {
    padding: 10px;
    width: 110%;
}

.book-preview img:hover {
    padding: 0;
    transition-duration: 400ms;
}

.book-preview-price{
    font-size: 1.2rem;
}

.green{
    color: rgb(35, 166, 35);
}

.red{
    color: rgb(166, 52, 35);
}