.user-msg {
    background-color: lightgray;
    padding: 0 1em;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 2em;
    color: rgb(40, 40, 40);
}

.user-msg.success {
    background-color: #e2eeff;
}

.user-msg.error {
    background-color: #dae9ff;
}


.user-msg span {
    float: right;
    margin: 1em;
}